<template>
  <div>
    <div>
      <div>
        <Form @submit="onSubmit" class="login-form">
          <Field
            name="nickname"
            type="text"
            rules="required|nickname"
            class="login-form-element"
            placeholder="Nickname"
            autocomplete="off"
          />
          <ErrorMessage name="nickname" class="login-form-element-error" />
          <div class="login-form-element__radio">
            <Field
              name="sex"
              type="radio"
              value="male"
              class="login-form-element__radio-btn"
            ></Field
            >Male
            <Field
              name="sex"
              type="radio"
              value="female"
              class="login-form-element__radio-btn"
            ></Field
            >Female
          </div>
          <button class="login-form-btn">Create</button>
          <span class="link-reg"
            >123<span class="link-reg__route">123</span></span
          >
        </Form>
      </div>
      <button @click="onLoginPage">Back</button>
    </div>
    <div class="charlist">
      <div v-for="character in getAllCharacters" :key="character._id">
        <div class="character__item">
          <div>{{ character.nickname }}</div>
          <div>{{ character.money }}</div>
          <div>
            {{ character.faction[0].factionName }}<br />
            {{ character.faction[0].factionPosition }}<br />
            {{ character.faction[0].factionRights }}
          </div>
          <button @click="charLoad(character._id)">Load this character</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { computed, onMounted, ref } from "vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";
export default {
  components: { Form, Field, ErrorMessage },
  setup() {
    const router = useRouter();
    const isCharacters = ref(false);
    const charactersList = ref([]);
    const store = useStore();
    const messageResponse = ref("");
    onMounted(() => {
      store.getters.getCharacters.length
        ? (isCharacters.value = true)
        : (isCharacters.value = false);
    });
    const onLoginPage = () => {
      router.replace({ name: "auth" });
    };
    const getAllCharacters = computed(() => {
      charactersList.value = store.getters.getCharacters;
      return store.getters.getCharacters;
    });
    const onSubmit = (values) => {
      try {
        window.mp.trigger(
          "client:accounts.charCreateAttempt",
          values.nickname,
          values.sex,
          store.getters.getPlayer._id
        );
      } catch (e) {
        console.log(e.message);
      }
    };
    window.mp.events.add("cef:character.createSuccess", (character) => {
      store.dispatch("addNewCharacter", JSON.parse(character));
    });
    const charLoad = (id) => {
      try {
        mp.trigger("client:accounts.charLoadAttempt", id);
      } catch (e) {}
    };
    window.mp.events.add("cef:character.successLoginCharacter", (character) => {
      const charDB = JSON.parse(character);
      store.dispatch("setCurrentCharacter", charDB);
      mp.trigger("client:sendMesToServer", charDB._id);
      router.replace({ path: `/user/${charDB._id}` });
    });
    return {
      onSubmit,
      isCharacters,
      getAllCharacters,
      onLoginPage,
      charLoad,
    };
  },
};
</script>
<style>
.charlist {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: 30px;
}
.character__item {
  width: 200px;
  height: 100px;
  background-color: bisque;
  margin-bottom: 10px;
}
</style>
