<template>
  <div class="death-screen__wrapper">
    <div class="death-screen__content">
      Вы при смерти
      <div class="death-screen__buttons">
        <button
          class="death-screen__buttons_btn-hospital"
          @click="hospitalRevive"
        >
          Отправиться в больницу
        </button>
        <button class="death-screen__buttons_btn-medic">Вызвать медиков</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  emits: ["playerHealth"],
  setup(_, { emit }) {
    const medicWaiting = () => {
      try {
        mp.trigger("client:accounts.playerMedicHeal");
      } catch (e) {}
    };
    const hospitalRevive = () => {
      try {
        mp.trigger("client:accounts.playerHospitalRevive");
      } catch (e) {}
      emit("playerHealth");
    };
    return {
      medicWaiting,
      hospitalRevive,
    };
  },
};
</script>
<style>
.death-screen__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s ease;
  right: 0;
  z-index: 998;
  background-color: rgba(00, 00, 00, 0.48);
}
.death-screen__content {
  position: relative;
  max-width: 600px;
  padding: 20px 18px;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  transition: all 0.2s ease;
  border-radius: 8px;
  z-index: 999;
  overflow: hidden;
}
</style>
