<template>
  <div class="container">
    <div class="border-rounded shadow m-2 bg-secondary text-light">
      {{ getCharacterFactionInfo.faction[0].factionName }}
      <div v-if="!isFactionList">
        <div>Информация о фракции</div>
        <div v-if="getCharacterFactionInfo.faction[0].factionName !== 'None'">
          <div
            v-for="(item, idx) in getCharacterFactionInfo.faction"
            :key="idx"
          >
            <div>{{ item.factionName }}</div>
            <div>{{ item.factionPosition }}</div>
            <button
              @click="
                leaveFaction(
                  getCharacterFactionInfo.faction[0].factionName,
                  getCharacterFactionInfo._id
                )
              "
              class="btn btn-warning"
            >
              Покинуть фракцию
            </button>
          </div>
        </div>
        <div v-else>Вы не состоите ни в одной фракции</div>
        <button
          @click="openFactionList"
          class="btn btn-primary text-align-center justify-content-center h-auto faction__button"
        >
          Просмотреть список фракций
        </button>
      </div>
      <div v-if="isFactionList">
        <div class="container" v-for="(item, idx) in factionList" :key="idx">
          <div>
            {{ item.factionName }}
            <button
              class="btn btn-info"
              @click="attemptToJoin(item.factionName)"
            >
              Просмотр
            </button>
          </div>
        </div>
      </div>
      <div class="" v-if="isAttemptToJoin">
        <div>Подать заявку на вступление в {{ factionToJoin }}</div>
        <div>
          <button
            @click="
              applicationMembership(getCharacterFactionInfo._id, factionToJoin)
            "
          >
            Да
          </button>
          <button @click="cancelAttemptToJoin">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { computed, onMounted, ref } from "@vue/runtime-core";
import { useStore } from "vuex";
export default {
  setup() {
    const store = useStore();
    const getCharacterFactionInfo = computed(() => {
      return store.getters.getCurrentCharacter;
    });
    const isFactionList = ref(false);
    const factionList = ref([]);
    const isAttemptToJoin = ref(false);
    const factionToJoin = ref("");
    //1
    const attemptToJoin = (name) => {
      isAttemptToJoin.value = true;
      factionToJoin.value = name;
    };
    const cancelAttemptToJoin = () => {
      factionToJoin.value = "";
      isAttemptToJoin.value = false;
    };
    const openFactionList = () => {
      isFactionList.value = !isFactionList.value;
    };
    try {
      mp.trigger("client:faction.getFactionList");
    } catch (e) {}
    mp.events.add("cef:faction.setFactionList", (value) => {
      factionList.value = JSON.parse(value);
    });
    const applicationMembership = (value, name) => {
      let _id = value;
      try {
        mp.trigger("client:faction.setMembershipApplication", _id, name);
      } catch (e) {}
    };
    mp.events.add("cef:faction.updateFactionState", (charFaction) => {
      store.dispatch("setCharacterFactionState", JSON.parse(charFaction));
    });
    const leaveFaction = (name, _id) => {
      try {
        mp.trigger("client:faction.leaveCurrentFaction", name, _id);
      } catch (e) {}
    };
    return {
      getCharacterFactionInfo,
      isFactionList,
      openFactionList,
      factionList,
      attemptToJoin,
      isAttemptToJoin,
      cancelAttemptToJoin,
      factionToJoin,
      applicationMembership,
      leaveFaction,
    };
  },
};
</script>
<style>
.faction__button {
  font-size: 12px;
}
</style>
