<template>
  <div class="inv__body">
    <div class="inv__wrapper">
      <div class="inv__box" v-for="item in inventory" :key="item.name">
        <p>{{ item.name }}</p>
        <p>{{ item.amount }}</p>
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "@vue/reactivity";
export default {
  setup(props) {
    const inventory = ref([]);
    inventory.value = [
      {
        name: "item1",
        amount: 5,
      },
      {
        name: "item2",
        amount: 5,
      },
      {
        name: "item3",
        amount: 5,
      },
      {
        name: "item4",
        amount: 5,
      },
      {
        name: "item5",
        amount: 5,
      },
      {
        name: "item6",
        amount: 5,
      },
      {
        name: "item7",
        amount: 5,
      },
      {
        name: "item8",
        amount: 5,
      },
      {
        name: "item9",
        amount: 5,
      },
      {
        name: "item10",
        amount: 5,
      },
      {
        name: "item11",
        amount: 5,
      },
      {
        name: "item12",
        amount: 5,
      },
      {
        name: "item13",
        amount: 5,
      },
    ];
    return {
      inventory,
    };
  },
};
</script>
<style>
.inv__body {
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 40px;
  height: 500px;
  width: 660px;
  overflow-y: auto;
}
.inv__wrapper {
  padding: 10px;
  width: max-content;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 10px;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 10px;
  color: antiquewhite;
}
.inv__box {
  background-color: rgba(68, 68, 68, 0.623);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  font-size: 12px;
}
</style>
