<template>
  <div>
    <Form @submit="onSubmit" class="login-form">
      <Field
        name="email"
        type="email"
        rules="required|email"
        class="login-form-element"
        placeholder="example@example.com"
        autocomplete="off"
      />
      <ErrorMessage name="email" class="login-form-element-error" />
      <Field
        name="password"
        type="password"
        rules="required|password"
        class="login-form-element"
        placeholder="Password"
        autocomplete="off"
      />
      <button class="login-form-btn">{{ formName }}</button>
    </Form>
  </div>
</template>
<script>
import { ref } from "vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";
export default {
  components: { Form, Field, ErrorMessage },
  props: {
    formName: {
      type: String,
      required: true,
    },
  },
  setup() {
    const router = useRouter();
    const store = useStore();
    const messageResponse = ref("");
    const onSubmit = (values) => {
      try {
        window.mp.trigger(
          "client:accounts.loginAttempt",
          values.email,
          values.password
        );
        // router.push({ name: "home" });
      } catch (e) {
        console.log(e.message);
      }
    };
    window.mp.events.add("cef:loginform.successNotify", (message) => {
      messageResponse.value = message;
      successNotify(messageResponse.value);
    });
    window.mp.events.add("cef:loginform.unsuccessNotify", (message) => {
      messageResponse.value = message;
      successNotify(messageResponse.value);
    });
    window.mp.events.add("cef:accounts.loginSuccess", (user, characters) => {
      try {
        mp.trigger("client:sendMesToServer", characters);
      } catch (e) {}
      const userDB = JSON.parse(user);
      const charactersDB = JSON.parse(characters);
      store.dispatch("setUser", userDB);
      store.dispatch("setCharacters", charactersDB);
      router.push({ name: "character" });
    });
    return {
      onSubmit,
    };
  },
};
</script>
