<template>
  <div>
    <div>{{ icon[0] }}{{ title }} -- {{ sender }} -- {{ content }}</div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: "Title",
    },
    sender: {
      type: String,
      default: "Sender",
    },
    content: {
      type: String,
      default: "Content",
    },
    icon: {
      type: Array,
    },
  },
  setup(props) {},
};
</script>
