<template>
  <div>
    <Form @submit="onSubmit" class="login-form">
      <Field
        name="email"
        type="email"
        rules="required|email"
        class="login-form-element"
        placeholder="example@example.com"
        autocomplete="off"
      />
      <ErrorMessage name="email" class="login-form-element-error" />
      <Field
        name="password"
        type="password"
        rules="required|password"
        class="login-form-element"
        placeholder="Password"
        autocomplete="off"
      />
      <ErrorMessage name="password" class="login-form-element-error" />
      <Field
        name="confirmation"
        type="password"
        rules="confirmed:@password"
        class="login-form-element"
        placeholder="Confirm password"
        autocomplete="off"
      />
      <ErrorMessage name="confirmation" class="login-form-element-error" />
      <button class="login-form-btn">{{ formName }}</button>
    </Form>
  </div>
</template>
<script>
import { ref } from "vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import { useRouter } from "vue-router";
import {
  successNotify,
  unsuccessNotify,
} from "@/utils/notifications/notifications";
export default {
  components: { Form, Field, ErrorMessage },
  props: {
    formName: {
      type: String,
      required: true,
    },
  },
  setup() {
    const router = useRouter();
    const messageResponse = ref("");
    const onSubmit = (values) => {
      try {
        window.mp.trigger(
          "client:accounts.registrationAttempt",
          values.email,
          values.password
        );
        // router.push({ name: "login" });
      } catch (e) {
        console.log(e.message);
      }
    };
    window.mp.events.add("cef:accounts.testNotify", (message) => {
      messageResponse.value = message;
      successNotify(messageResponse.value);
    });
    return {
      onSubmit,
    };
  },
};
</script>
