<template>
  <div>
    <div v-if="isAlivePlayer">
      <div>
        UserPage
        {{ position }}
        <button @click="getPos">position</button>
      </div>
      <div v-if="!isVehicleList && !isWeaponList && !isFactionOpen">
        <UtilComponent />
      </div>
      <div v-if="isVehicleList">
        <VehicleList :position="position" />
      </div>
      <div v-if="isWeaponList">
        <WeaponsList />
      </div>
      <div v-if="inVehicle">
        {{ vehicleStatus }}
        <VehicleStatus :status="vehicleStatus" />
      </div>
      <div v-if="isInventoryOpen">
        <Inventory />
      </div>
      <div v-if="isFactionOpen">
        <Faction />
      </div>
    </div>
    <div v-if="!isAlivePlayer">
      <DeathHandler @playerHealth="playerHealthRestore" />
    </div>
  </div>
</template>
<script>
import { computed, ref } from "@vue/reactivity";
import { useStore } from "vuex";
import UtilComponent from "@/components/UI/UtilComponent";
import VehicleList from "@/components/UI/VehicleList";
import WeaponsList from "@/components/UI/WeaponsList";
import VehicleStatus from "@/components/UI/VehicleStatus";
import DeathHandler from "@/components/UI/DeathHandler";
import Inventory from "@/components/UI/Inventory";
import Faction from "@/components/UI/Faction";
import Notification from "@/components/UI/Notification";
import { createToast, withProps } from "mosha-vue-toastify";
export default {
  components: {
    UtilComponent,
    VehicleList,
    VehicleStatus,
    WeaponsList,
    DeathHandler,
    Inventory,
    Notification,
    Faction,
  },
  setup() {
    const store = useStore();
    const isVehicleList = ref(false);
    const isWeaponList = ref(false);
    const position = ref([]);
    const inVehicle = ref(false);
    const vehicleStatus = ref([]);
    const isAlivePlayer = ref(true);
    const isInventoryOpen = ref(false);
    const isFactionOpen = ref(false);
    const getCharacter = computed(() => {
      return store.getters.getCurrentCharacter;
    });
    const getPos = () => {
      try {
        mp.trigger("client:accounts.getPos");
      } catch (e) {}
    };
    mp.events.add("cef:user.vehiclelist", (value) => {
      isVehicleList.value = value;
    });
    mp.events.add("cef:user.getPos", (pos) => {
      position.value = pos;
    });
    mp.events.add(
      "cef:user.vehicleStatus",
      (maxSpeed, currentSpeed, maxFuel, currentFuel) => {
        vehicleStatus.value = [maxSpeed, currentSpeed, maxFuel, currentFuel];
      }
    );
    mp.events.add("cef:user.playerSitInVehicle", () => {
      inVehicle.value = true;
    });
    mp.events.add("cef:user.playerLeaveVehicle", () => {
      inVehicle.value = false;
      vehicleStatus.value = [];
    });
    mp.events.add("cef:user.showWeaponList", (value) => {
      isWeaponList.value = value;
    });
    mp.events.add("cef:user.playerDeath", () => {
      isAlivePlayer.value = false;
    });
    mp.events.add("cef:user.openInventory", (value) => {
      isInventoryOpen.value = value;
    });
    mp.events.add("cef:user.openFaction", (value) => {
      isFactionOpen.value = value;
    });
    mp.events.add("cef:user.infoNotify", (title, sender, content, icon) => {
      createToast(withProps(Notification, { title, sender, content, icon }), {
        type: "info",
        position: "bottom-right",
        showIcon: true,
        hideProgressBar: true,
        transition: "slide",
      });
    });
    const playerHealthRestore = () => {
      isAlivePlayer.value = true;
    };
    return {
      getCharacter,
      isVehicleList,
      isWeaponList,
      position,
      getPos,
      vehicleStatus,
      inVehicle,
      isAlivePlayer,
      playerHealthRestore,
      isInventoryOpen,
      isFactionOpen,
    };
  },
};
</script>
