<template>
  <teleport to="body">
    <div>
      <div>ID: {{ getCurrentCharacter }}</div>
      <div>Money:{{ getMoney }}</div>
      <div><button @click="setMoney">money</button></div>
    </div>
  </teleport>
</template>
<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";
export default {
  setup() {
    const store = useStore();
    const money = ref(store.getters.getMoney);
    const getMoney = computed(() => {
      return store.getters.getMoney;
    });
    const getCurrentCharacter = computed(() => {
      return store.getters.getCurrentCharacter;
    });
    const setMoney = () => {
      money.value++;
      store.dispatch("setMoney", money.value);
      try {
        mp.trigger(
          "client:accounts.updateInDB",
          store.getters.getMoney,
          store.getters.getCurrentCharacter._id
        );
      } catch (e) {}
    };
    return {
      getMoney,
      setMoney,
      getCurrentCharacter,
    };
  },
};
</script>
