<template>
  <div class="speedometer__wrapper">
    {{ getStatus }}
    <div class="speedometer__element-wrapper">
      <div class="speedometer__element">
        Speed
        <progress :max="240" :value="status[1]" />
        {{ status[1].toFixed(2) }}
      </div>
      <!-- <div class="speedometer__element">
        Fuel
        <progress :max="status[2]" :value="status[3]" />
        {{ status[3].toFixed(2) * 10000 }}
      </div> -->
      <div class="speedometer__element">
        rpm
        <progress :max="15000" :value="status[3].toFixed(2) * 10000" />
        {{ status[3].toFixed(2) * 10000 }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    status: {
      type: Array,
      require: true,
      default: [0, 0, 0, 0],
    },
  },
  setup(props) {
    const getStatus = () => {
      return props.status;
    };
  },
};
</script>
<style>
.speedometer__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 25px;
  background-color: rgb(37, 212, 212);
  width: 400px;
  height: 70px;
}
.speedometer__element-wrapper {
  margin: 15px auto;
}
</style>
