<template>
  <div class="vehlist__wrapper">
    <div>
      <div class="vehlist__list">
        <ul v-for="(item, idx) in vehList" :key="idx" class="vehlist">
          <li
            class="vehlist__item"
            :class="{ isClick: isSelect && idx === numSelect }"
            @click="isSelecting(item, idx)"
          >
            {{ item
            }}<button
              v-if="idx === numSelect"
              class="vehlist__item-btn"
              @click="createVehicle(item, position)"
            >
              123
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="vehlist__img">
      <img
        :src="require(`@/assets/img/vehicles/${vehSelected}.webp`)"
        alt=""
        width="300"
        height="160"
      />
    </div>
  </div>
</template>
<script>
import vehicleList from "@/utils/vehiclelist/vehicleList.JSON";
import { ref } from "vue";
export default {
  props: {
    position: {
      type: Object,
    },
  },
  setup(props) {
    const vehList = ref(Object.keys(vehicleList));
    const vehSelected = ref("adder");
    const isSelect = ref(false);
    const numSelect = ref(0);
    const isSelecting = (item, idx) => {
      isSelect.value = true;
      numSelect.value = idx;
      vehSelected.value = item;
    };
    const createVehicle = (item, position) => {
      try {
        mp.trigger("client:vehicles.createVehicle", item, position);
      } catch (e) {}
    };
    return {
      vehList,
      vehSelected,
      isSelecting,
      isSelect,
      numSelect,
      createVehicle,
    };
  },
};
</script>
<style>
.vehlist__wrapper {
  display: flex;
  color: rgb(18, 223, 238);
  border: 1px solid gray;
  width: 700px;
  height: 300px;
  background-color: rgba(128, 124, 124, 0.493);
}
.vehlist {
  width: 25%;
  margin: 0;
  text-align: left;
}
.vehlist__img {
  position: static;
  margin: 0 auto;
}
.vehlist__list {
  border: 1px solid gray;
  height: 300px;
  overflow: auto;
}
.vehlist button {
  margin-left: 50%;
}
.vehlist__item {
  cursor: pointer;
  padding-right: 20px;
  display: flex;
}
.vehlist__item:hover {
  cursor: pointer;
  color: brown;
}
.isClick {
  color: aquamarine;
  width: 100%;
  background-color: chocolate;
}
</style>
