<template>
  <div class="weaponlist__wrapper">
    qwe
    <div>
      <div class="weaponlist__list">
        <ul v-for="(item, idx) in weaponslist" :key="idx" class="weaponlist">
          <li
            class="weaponlist__item"
            :class="{ isClick: isSelect && idx === numSelect }"
            @click="isSelecting(item, idx)"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
    <div class="weaponlist__list">
      <ul
        v-for="(wep, idx) in weaponslist_details"
        :key="idx"
        class="weaponlist"
      >
        <li
          class="weaponlist__item"
          :class="{ isClick: isSelect && idx === numWepSelect }"
          @click="isWeaponSelecting(wep, idx)"
        >
          {{ wep }}
          <div v-if="idx === numWepSelect">
            <button
              class="weaponlist__item-btn"
              @click="getWeapon(wep, clipsCount)"
            >
              123
            </button>
            <input type="text" v-model="clipsCount" />
          </div>
        </li>
      </ul>
    </div>
    <div class="weaponlist__img">
      <!-- <img
        :src="require(`@/assets/img/weapons/${wepSelected}.webp`)"
        alt=""
        width="300"
        height="160"
      /> -->
    </div>
  </div>
</template>
<script>
import weaponList from "@/utils/weaponlist/weaponList.JSON";
import { ref } from "vue";
export default {
  setup() {
    const weaponslist = ref(Object.keys(weaponList));
    const category = ref("melee");
    const wepSelected = ref("advancedrifle");
    const weaponslist_details = ref([]);
    const isSelect = ref(false);
    const isWepSelect = ref(false);
    const numSelect = ref(0);
    const numWepSelect = ref(0);
    const clipsCount = ref(100);

    const isSelecting = (item, idx) => {
      isSelect.value = true;
      numSelect.value = idx;
      category.value = item;
      weaponslist_details.value = Object.keys(weaponList[item]);
    };
    const isWeaponSelecting = (item, idx) => {
      isWepSelect.value = true;
      wepSelected.value = item;
      numWepSelect.value = idx;
      // console.log(wepSelected.value);
    };
    const getWeapon = (item, clips) => {
      try {
        mp.trigger("client:weapons.giveWeaponToPlayer", item, clips);
      } catch (e) {}
    };
    return {
      weaponslist,
      weaponslist_details,
      wepSelected,
      isSelecting,
      isWepSelect,
      isWeaponSelecting,
      isSelect,
      numSelect,
      numWepSelect,
      clipsCount,
      getWeapon,
      category,
    };
  },
};
</script>
<style>
.weaponlist__wrapper {
  display: flex;
  border: 1px solid gray;
  width: 1000px;
  height: 300px;
  color: rgb(18, 223, 238);
    background-color: rgba(128, 124, 124, 0.493);
}
.weaponlist {
  width: 25%;
  margin: 0;
  text-align: left;
}
.weaponlist__img {
  position: static;
  margin: 0 auto;
}
.weaponlist__list {
  border: 1px solid gray;
  height: 300px;
  overflow: auto;
}
.weaponlist button {
  margin-left: 50%;
}
.weaponlist__item {
  cursor: pointer;
  padding-right: 20px;
  display: flex;
}
.weaponlist__item:hover {
  cursor: pointer;
  color: brown;
}
.isClick {
  color: aquamarine;
  width: 100%;
  background-color: chocolate;
}
</style>
