<template>
  <div class="login-form__wrapper">
    <div class="login-form__container">
      <CharCreate />
    </div>
  </div>
</template>
<script>
import CharCreate from "@/components/UI/CharCreate";
export default {
  components: {
    CharCreate,
  },
};
</script>
