<template>
  <div>
    <TestInventory />
  </div>
</template>
<script>
// import TestDev from "@/components/TestDev";
// import TestDeath from "@/components/TestDeath";
import TestInventory from "@/components/TestInventory";
// import TestDevVehStatus from "@/components/TestDevVehStatus";
export default {
  components: {
    TestInventory,
  },
};
</script>
