<template>
  <div>
    UserPage
    <UserInterface />
  </div>
</template>
<script>
import UserInterface from "@/components/UI/UserInterface";
export default {
  components: { UserInterface },
};
</script>
