<template>
  <div class="login-form__wrapper">
    <div class="login-form__container">
      <div v-if="formName === 'Registration'">
        <RegistrationForm :formName="formName" />
        <span class="link-reg"
          >Уже зарегистрировались? Нажимте
          <span class="link-reg__route" @click="handleLoginRouteLink"
            >сюда</span
          >
          что бы войти</span
        >
      </div>
      <div v-else>
        <LoginForm :formName="formName" />
        <span class="link-reg"
          >Ещё нет аккаунта? Нажимте
          <span class="link-reg__route" @click="handleRegistrationRouteLink"
            >сюда</span
          >
          что бы зарегистрироваться</span
        >
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";
import RegistrationForm from "@/components/UI/RegistrationForm";
import LoginForm from "@/components/UI/LoginForm";
export default {
  components: {
    RegistrationForm,
    LoginForm,
  },
  setup() {
    const formName = ref("Registration");
    const handleLoginRouteLink = () => {
      formName.value = "Login";
    };
    const handleRegistrationRouteLink = () => {
      formName.value = "Registration";
    };
    return {
      handleLoginRouteLink,
      handleRegistrationRouteLink,
      formName,
    };
  },
};
</script>
<style>
.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.login-form-element {
  margin: 15px 15px 5px 15px;
  box-shadow: 0px 0px 5px gray;
  border: none;
  height: 25px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
}
.login-form-element__radio {
  color: antiquewhite;
  display: block;
}
.login-form-element__radio-btn {
  margin: 15px 15px 5px 15px;
}
.login-form-btn {
  margin: 15px 15px 5px 15px;
  border: none;
  height: 25px;
  border-radius: 10px;
  background-color: aquamarine;
}
.login-form-btn:hover {
  box-shadow: 0px 0px 10px aquamarine;
  color: white;
}
.login-form-element-error {
  color: red;
  margin: 0 15px 0 15px;
  font-size: 12px;
}
.login-form__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../src/assets/img/bg.jpg") no-repeat;
}
.login-form__container {
  margin: 50px auto;
  width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
}
</style>
