<template>
  <div class="speedometer__wrapper">
    <div class="speedometer__element-wrapper">
      <div class="speedometer__element">
        Speed
        <progress max="100" value="70" />
        Value
      </div>
      <div class="speedometer__element">
        Fuel
        <progress max="100" value="50" />
        Value
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    maxSpeed: {
      type: Number,
      require: true,
    },
    valueSpeed: {
      type: Number,
      require: true,
      default: 0,
    },
    maxFuel: {
      type: Number,
      require: true,
    },
    valueFuel: {
      type: Number,
      require: true,
    },
  },
};
</script>
<style>
.speedometer__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 25px;
  background-color: rgb(37, 212, 212);
  width: 400px;
  height: 70px;
}
.speedometer__element {
}
.speedometer__element-wrapper {
  margin: 15px auto;
}
</style>
