<template>
  <div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  setup() {},
};
</script>

<style>
body {
  background: none !important;
}
#app {
  font-family: JetBrainsMono;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.link-reg {
  margin-top: 10px;
  font-size: 12px;
}
.link-reg__route {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.main__wrapper {
  background: rgba(158, 175, 97, 0.637);
  margin: 20px 25%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(103, 105, 105);
}
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 8px auto;
}
.btn_block {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 50px;
}
.btn-login {
  box-shadow: 1px 1px 10px cadetblue;
  background: rgb(1, 163, 128);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
.btn-login:hover {
  box-shadow: 1px 1px 15px rgb(0, 248, 227);
  background: rgb(3, 231, 182);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
.btn-registration {
  box-shadow: 1px 1px 10px cadetblue;
  background: rgb(0, 158, 163);
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
.btn-registration:hover {
  box-shadow: 1px 1px 15px rgb(0, 248, 227);
  background: rgb(2, 226, 241);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
</style>
