@charset "UTF-8";
.mosha__toast {
  touch-action: pan-x;
  display: flex;
  justify-content: space-between;
  position: fixed;
  min-height: 64px;
  max-height: 800px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 12px 8px;
  word-break: break-word;
  min-width: 312px;
  max-width: 480px;
  z-index: 9999;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: top 0.3s ease-out 0.5s, bottom 0.3s ease-out 0.5s;
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  margin: 0 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mosha__toast__content-wrapper {
  display: flex;
  align-items: center;
}
.mosha__toast__content {
  font-family: sans-serif;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.mosha__toast__content__text {
  font-family: JetBrainsMonoThin;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
}
.mosha__toast__content__description {
  font-size: 14px;
  font-weight: 400;
}
.mosha__toast__slot-wrapper {
  width: 100%;
}
.mosha__toast__close-icon::before {
  font-size: 20px;
  cursor: pointer;
  content: "×";
  color: #fff;
  transition: color 0.3s;
  font-weight: 600;
  margin-left: 10px;
  position: relative;
  top: -12px;
}
.mosha__toast__close-icon:hover::before {
  color: grey;
}
.mosha__toast__progress {
  transition: all linear 0.2s;
  position: absolute;
  z-index: 9999;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  margin-left: -8px;
}
.mosha__toast.success {
  background-color: #06d6a0;
}
.mosha__toast.warning {
  background-color: #ffc43d;
}
.mosha__toast.info {
  background-color: #1b9aaa;
}
.mosha__toast.danger {
  background-color: #ef476f;
}
.mosha__toast.default {
  background-color: #fff;
}
.mosha__toast.default .mosha__toast__content {
  color: #616161;
}
.mosha__toast.default .mosha__toast__close-icon::before {
  color: #616161;
}
.mosha__toast.default .mosha__toast__close-icon:hover::before {
  color: #d0d4d4;
}
.mosha__toast.default .mosha__toast__progress {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0,
    #eaccf8 48%,
    #6654f1 100%
  );
}
@media only screen and (max-width: 475px) {
  .mosha__toast {
    max-width: 95.2%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.mosha__icon {
  margin-right: 16px;
}
.mosha__bounceInRight-enter-active {
  -webkit-animation: bounceInRight 0.7s;
  animation: bounceInRight 0.7s;
}
.mosha__bounceInRight-leave-active {
  -webkit-animation: bounceOutLeft 0.7s;
  animation: bounceOutLeft 0.7s;
}
.mosha__bounceInLeft-enter-active {
  -webkit-animation: bounceInLeft 0.7s;
  animation: bounceInLeft 0.7s;
}
.mosha__bounceInLeft-leave-active {
  -webkit-animation: bounceOutRight 0.7s;
  animation: bounceOutRight 0.7s;
}
.mosha__bounceInDown-enter-active {
  -webkit-animation: bounceInDown 0.7s;
  animation: bounceInDown 0.7s;
}
.mosha__bounceInDown-leave-active {
  -webkit-animation: bounceOutUp 0.7s;
  animation: bounceOutUp 0.7s;
}
.mosha__bounceInUp-enter-active {
  -webkit-animation: bounceInUp 0.7s;
  animation: bounceInUp 0.7s;
}
.mosha__bounceInUp-leave-active {
  -webkit-animation: bounceOutDown 0.7s;
  animation: bounceOutDown 0.7s;
}
@-webkit-keyframes bounceInRight {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInRight {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@-webkit-keyframes bounceInLeft {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInLeft {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@-webkit-keyframes bounceInUp {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@-webkit-keyframes bounceInDown {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInDown {
  60%,
  75%,
  90%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.mosha__slideInRight-enter-active {
  -webkit-animation: slideInRight 0.5s;
  animation: slideInRight 0.5s;
}
.mosha__slideInRight-leave-active {
  -webkit-animation: slideOutRight 0.5s;
  animation: slideOutRight 0.5s;
}
.mosha__slideInLeft-enter-active {
  -webkit-animation: slideInLeft 0.5s;
  animation: slideInLeft 0.5s;
}
.mosha__slideInLeft-leave-active {
  -webkit-animation: slideOutLeft 0.5s;
  animation: slideOutLeft 0.5s;
}
.mosha__slideInDown-enter-active {
  -webkit-animation: slideInDown 0.5s;
  animation: slideInDown 0.5s;
}
.mosha__slideInDown-leave-active {
  -webkit-animation: slideOutUp 0.5s;
  animation: slideOutUp 0.5s;
}
.mosha__slideInUp-enter-active {
  -webkit-animation: slideInUp 0.5s;
  animation: slideInUp 0.5s;
}
.mosha__slideInUp-leave-active {
  -webkit-animation: slideOutDown 0.5s;
  animation: slideOutDown 0.5s;
}
@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@-webkit-keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.mosha__zoomIn-enter-active {
  -webkit-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
}
.mosha__zoomIn-leave-active {
  -webkit-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.mosha__fadeOutRight-leave-active {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
}
.mosha__fadeOutLeft-leave-active {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
